.gameboard {
    display: grid;
  
    width: 800px;
    max-width: 720px;
    height: 800px;
    margin: 0 auto;
    padding: 12px;
  
    align-items: stretch;
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    perspective: 100%;
  }
  